<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
























    </style>
</head>
<body>
<p>
<h1>Cái chết của Elisa Lam</h1></p>
<p>
    <b>
        Vào ngày 19 tháng 2 năm 2013, thi thể của du khách người Canada gốc Hoa Elisa Lam (tiếng Trung: 藍可兒; tên khai
        sinh là Lam Ho-yi) đã được vớt lên từ một bể chứa nước lớn trên đỉnh khách sạn Stay on Main ở Trung tâm thành
        phố Los Angeles, nơi cô từng ở. khách mời. Người ta nhìn thấy cô ấy còn sống lần cuối vào ngày 31 tháng 1 và
        được cha mẹ cô thông báo mất tích vào ngày 1 tháng 2. Thi thể của cô được một nhân viên bảo trì khách sạn phát
        hiện khi điều tra các khiếu nại về lũ lụt và áp suất nước thấp.
    </b>
</p>

<p>
    <b>
        Sự quan tâm đến sự biến mất của Lam tăng lên vào ngày 13 tháng 2 khi Sở cảnh sát Los Angeles công bố đoạn phim
        camera an ninh ghi lại cảnh cô ấy cư xử thất thường trong thang máy khách sạn vào ngày cuối cùng người ta nhìn
        thấy cô ấy còn sống. Video đã lan truyền. Trong khi khám nghiệm tử thi được thực hiện vào ngày 21 tháng 2 không
        có kết luận trong việc xác định cách thức cái chết của Lam, văn phòng Điều tra viên của Hạt Los Angeles sau đó
        đã phán quyết cái chết là một tai nạn với chứng rối loạn lưỡng cực là một yếu tố góp phần quan trọng.
    </b>
</p>

<p>
    <b>
        Khách tại Stay on Main đã kiện khách sạn về vụ việc và cha mẹ của Lam đã đệ đơn kiện riêng vào cuối năm đó; phần
        sau đã bị loại bỏ vào năm 2015. Một số người quan tâm sớm trên Internet đã ghi nhận những điểm được coi là tương
        đồng bất thường giữa cái chết của Lam và bộ phim kinh dị năm 2002 Dark Water. Vụ án kể từ đó đã được nhắc đến
        trong văn hóa đại chúng quốc tế và là chủ đề của một số tác phẩm sáng tạo.
    </b>
</p>

<p>
<h1>Tiểu sử</h1></p>
<p>
    <b>
        Lam, con gái của những người nhập cư từ Hồng Kông, là sinh viên của Đại học British Columbia, mặc dù cô không
        đăng ký vào đầu năm 2013.
    </b>
</p>

<p align="center">
    <b>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Cecil_Hotel%2C_L.A.jpg/220px-Cecil_Hotel%2C_L.A.jpg"
             class="center-fit" alt="Cecil Hotel">
    </b>
</p>

<p>
    <b>
        Vào giữa năm 2010, Lam bắt đầu một blog có tên là Ether Fields trên Blogspot. Trong hai năm tiếp theo, cô đăng
        ảnh các người mẫu trong trang phục thời trang và kể về cuộc đời mình, đặc biệt là cuộc đấu tranh với bệnh tâm
        thần. Trong một bài đăng trên blog vào tháng 1 năm 2012, Lam than thở rằng chứng "tái nghiện" vào đầu học kỳ
        hiện tại đã buộc cô phải bỏ học nhiều lớp, khiến cô cảm thấy "hoàn toàn mất phương hướng và lạc lõng". Cô ấy đặt
        tiêu đề cho bài đăng của mình là "Bạn luôn bị ám ảnh bởi ý nghĩ rằng bạn đang lãng phí cuộc đời mình" sau một
        câu trích dẫn của tiểu thuyết gia Chuck Palahniuk. Cô ấy đã sử dụng câu trích dẫn đó như một bản hùng ca cho
        blog của mình. Lam lo lắng rằng bảng điểm của cô ấy sẽ trông đáng ngờ với quá nhiều lần rút tiền và điều đó sẽ
        dẫn đến việc cô ấy không thể tiếp tục học và theo học cao học.
    </b>
</p>

<p>
    <b>
        Hơn hai năm sau khi Lam bắt đầu viết blog, cô ấy tuyên bố sẽ từ bỏ blog của mình để chuyển sang một blog khác mà
        cô ấy đã bắt đầu trên Tumblr, "Nouvelle-Nouveau". Nội dung chủ yếu là ảnh thời trang, trích dẫn và một số bài
        viết do Lâm tự viết. Câu trích dẫn Palahniuk tương tự đã được sử dụng như một văn bia.
    </b>
</p>

<p>
    <b>
        Lam được chẩn đoán mắc chứng rối loạn lưỡng cực và trầm cảm. Cô ấy đã được kê một số loại thuốc để điều trị các
        vấn đề về sức khỏe tâm thần của mình: Wellbutrin, lamotrigine, quetiapine, Dexedrine Spansule và venlafaxine.
        Theo gia đình cô, người được cho là đã giữ kín bệnh tâm thần của cô, Lam không có tiền sử về ý định hay ý định
        tự tử, mặc dù một báo cáo cho biết trước đó cô đã mất tích trong một thời gian ngắn. Lam có tiền sử không dùng
        thuốc điều trị rối loạn lưỡng cực và kết quả là, trong một số trường hợp, cô bị ảo giác khiến cô phải trốn dưới
        gầm giường để lánh nạn; cô ấy đã phải nhập viện ít nhất một lần vì một trong những tập phim này.
    </b>
</p>

<p>
    <b>
        Trong chuyến đi tới California, Lam đã đi một mình trên Amtrak và xe buýt liên tỉnh. Cô đã đến thăm Sở thú San
        Diego và đăng những bức ảnh chụp ở đó lên mạng xã hội. Vào ngày 26 tháng 1, cô đến Los Angeles. Sau hai ngày, cô
        đăng ký vào khách sạn Cecil, gần Skid Row của Downtown. Ban đầu, Lâm được chỉ định ở chung một phòng trên tầng
        năm của khách sạn; tuy nhiên, những người bạn cùng phòng của cô đã phàn nàn về điều mà luật sư của khách sạn sau
        này mô tả là "một số hành vi kỳ quặc" và Lam đã được chuyển đến phòng riêng sau hai ngày. Theo Amy Price, quản
        lý của khách sạn Cecil Hotel and Stay on Main vào thời điểm Lam mất tích, Lam đang để lại những lời nhắn cho
        những người bạn cùng phòng của cô với nội dung "hãy về nhà" và "đi đi", đồng thời sẽ khóa cửa phòng và yêu cầu
        một mật khẩu để nhập. Vài ngày trước khi mất tích, Lam đã tham dự một buổi ghi hình trực tiếp Conan ở Burbank,
        nhưng đã bị an ninh hộ tống ra khỏi cơ sở do có hành vi gây rối.
    </b>
</p>

<p>
<h1>Mất tích</h1></p>
<p>
    <b>
        Lam liên lạc với cha mẹ cô ở British Columbia hàng ngày trong khi đi du lịch cho đến ngày cô biến mất. Ngày 31
        tháng 1 năm 2013, ngày cô dự kiến rời khỏi Cecil và lên đường đến Santa Cruz, cha mẹ cô không nhận được tin tức
        từ cô và đã gọi cho Sở Cảnh sát Los Angeles (LAPD); gia đình cô đã bay đến Los Angeles để giúp tìm kiếm
    </b>
</p>

<p>
    <b>
        Nhân viên khách sạn nhìn thấy Lam hôm đó cho biết cô chỉ có một mình. Bên ngoài khách sạn, Katie Orphan, quản lý
        của Hiệu sách cuối cùng, là người duy nhất nhớ lại đã gặp cô vào ngày hôm đó. "Cô ấy hướng ngoại, rất sôi nổi,
        rất thân thiện" trong khi nhận quà để mang về nhà cho gia đình, Orphan nói với CNN. "[Cô ấy] đang nói về cuốn
        sách mà cô ấy sẽ nhận được và liệu cuốn sách cô ấy nhận có quá nặng để cô ấy mang theo khi đi du lịch hay
        không," Orphan nói thêm.
    </b>
</p>

<p>
    <b>
        Cảnh sát đã khám xét khách sạn trong phạm vi mà họ có thể hợp pháp. Họ khám xét phòng của Lam và cho chó đi khắp
        tòa nhà, bao gồm cả sân thượng, nhưng chúng không phát hiện ra mùi của cô. "Nhưng chúng tôi đã không tìm kiếm
        mọi phòng," Sgt. Rudy Lopez sau đó nói, "chúng tôi chỉ có thể làm điều đó nếu chúng tôi có lý do chính đáng" để
        tin rằng một tội ác đã được thực hiện. Vào ngày 6 tháng 2, một tuần sau khi Lam được nhìn thấy lần cuối, LAPD
        quyết định cần thêm trợ giúp. Tờ rơi với hình ảnh của cô đã được đăng trong khu phố và trực tuyến. Nó đưa vụ
        việc đến sự chú ý của công chúng thông qua các phương tiện truyền thông.
    </b>
</p>
<p>
<h1>Đoạn video thang máy</h1></p>

<p>
    <b>
        Vào ngày 13 tháng 2, sau một tuần nữa mà không có dấu hiệu của Lam, LAPD đã công bố một đoạn video về lần cuối
        cùng người ta nhìn thấy cô được camera giám sát ghi lại trong một trong những thang máy của nhà Cecil vào ngày
        31 tháng 1. Đoạn phim dài khoảng hai phút rưỡi , Lam, một mình, thực hiện những động tác và cử chỉ bất thường,
        rời khỏi thang máy tại một thời điểm trong khi cửa vẫn mở, ngay cả khi cô ấy dường như đã nhấn mọi nút. Khi cánh
        cửa không đóng lại sau khi cô ấy quay lại, cô ấy rời đi; cửa đóng lại sau.
    </b>
</p>
<p align="center">
    <b>
        <video width="320" height="240" autoplay muted>
            <source src="https://upload.wikimedia.org/wikipedia/en/5/5b/Elisa_Lam_elevator_video.webm" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </b>
</p>

<p>
    <b>
        Đoạn video đã thu hút sự quan tâm trên toàn thế giới về vụ án do hành vi kỳ lạ của Lam, và đã được phân tích và
        thảo luận rộng rãi. Nó đã được đăng lại rộng rãi, bao gồm cả trên trang chia sẻ video Youku của Trung Quốc, nơi
        nó đã nhận được 3 triệu lượt xem và 40.000 bình luận trong 10 ngày đầu tiên. Nhiều nhà bình luận cảm thấy khó
        chịu khi xem.
    </b>
</p>

<p>
    <b>
        Một số lý thuyết nổi lên để giải thích hành động của cô ấy. Một là Lam đang cố gắng cho toa thang máy di chuyển
        để trốn thoát khỏi kẻ đang truy đuổi cô. Những người khác cho rằng cô ấy có thể bị ảnh hưởng bởi thuốc lắc hoặc
        một số loại ma túy khác, nhưng không phát hiện thấy gì trong cơ thể cô ấy. Khi chứng rối loạn lưỡng cực của cô
        ấy được biết đến, giả thuyết cho rằng cô ấy đang mắc chứng loạn thần cũng xuất hiện.
    </b>
</p>

<p>
    <b>
        Những người xem khác lập luận rằng video đã bị chỉnh sửa trước khi được công khai. Bên cạnh việc che dấu thời
        gian, họ tuyên bố, các phần đã bị chậm lại và đoạn phim dài gần một phút đã bị xóa. Điều này có thể đã được thực
        hiện để bảo vệ danh tính của một người nào đó nếu không sẽ có mặt trong video, có liên quan hoặc không liên quan
        đến vụ mất tích.
    </b>
</p>

<p>
<h1>Phát hiện thi thể</h1></p>

<p>
    <b>
        Trong quá trình tìm kiếm Lam, khách tại khách sạn bắt đầu phàn nàn về áp lực nước thấp. Một số người sau đó cho
        rằng nước của họ có màu đen và có mùi vị khác thường. Vào sáng ngày 19 tháng 2, Santiago Lopez, một nhân viên
        bảo trì khách sạn, đã tìm thấy thi thể của Lam trong một trong bốn bể chứa 1.000 gallon (3.785 L) đặt trên mái
        nhà cung cấp nước cho các phòng khách, nhà bếp và quán cà phê. Qua cửa sập mở toang, anh thấy Lâm nằm úp mặt
        dưới nước. Chiếc xe tăng đã được rút hết nước và mở ra vì cửa bảo trì của nó quá nhỏ để chứa các thiết bị cần
        thiết để đưa thi thể Lam ra ngoài.
    </b>
</p>

<p align="center">
    <b>
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/130221090724-02-cecil-hotel-0221-horizontal-large-gallery.jpg"
             class="center-fit" alt="Elisa Lam Body">
    </b>
</p>

<p>
    <b>
        Vào ngày 21 tháng 2, văn phòng điều tra viên Los Angeles đã đưa ra kết luận về một vụ chết đuối do tai nạn, với
        chứng rối loạn lưỡng cực là một yếu tố quan trọng. Báo cáo đầy đủ của nhân viên điều tra, được công bố vào tháng
        6, nói rằng thi thể của Lam đã được tìm thấy trong tình trạng khỏa thân; bộ quần áo tương tự như bộ quần áo cô
        ấy mặc trong video thang máy trôi nổi trong nước, được bao phủ bởi một "hạt giống như cát". Đồng hồ và chìa khóa
        phòng của cô ấy cũng được tìm thấy cùng với cô ấy
    </b>
</p>

<p>
    <b>
        Thi thể anh Lâm đã bị phân hủy ở mức độ vừa phải, trương phồng. Nó chủ yếu có màu xanh lục, với một số vết cẩm
        thạch rõ ràng trên bụng và sự tách da rõ ràng. Không có bằng chứng về chấn thương thể chất, tấn công tình dục
        hoặc tự tử. Các cuộc kiểm tra chất độc cho thấy dấu vết phù hợp với thuốc kê đơn được tìm thấy trong đồ đạc của
        cô ấy, cùng với các loại thuốc không kê đơn như Sinutab và ibuprofen. Có một lượng rất nhỏ rượu (khoảng 0,02
        g%), nhưng không có chất kích thích nào khác. Tuy nhiên, các nhà điều tra và chuyên gia đã lưu ý rằng nồng độ
        thuốc theo toa trong hệ thống của cô ấy cho thấy rằng cô ấy đang dùng thuốc dưới mức hoặc gần đây đã ngừng dùng
        thuốc
    </b>
</p>

<p>
<h1>Các vấn đề khác</h1></p>

<p>
    <b>
        Cuộc điều tra đã xác định Lam chết như thế nào, nhưng ban đầu không đưa ra lời giải thích về cách cô ấy vào bể
        ngay từ đầu. Các cửa và cầu thang dẫn lên mái nhà của khách sạn đều bị khóa, chỉ nhân viên mới có mật mã và chìa
        khóa, và bất kỳ nỗ lực nào để cưỡng bức họ đều có thể gây ra báo động. Lối thoát hiểm của khách sạn có thể cho
        phép cô ấy vượt qua các biện pháp an ninh đó; dấu vết mùi hương của cô đã bị mất gần một cửa sổ kết nối với nó.
        Một video được đăng lên Internet sau cái chết của Lam cho thấy mái nhà của khách sạn có thể dễ dàng tiếp cận
        thông qua lối thoát hiểm và hai trong số các nắp của bể chứa nước đã mở.
    </b>
</p>

<p>
    <b>
        Ngoài câu hỏi làm thế nào cô ấy lên được mái nhà, những người khác hỏi liệu cô ấy có thể tự mình vào bể không.
        Tất cả bốn bể đều là hình trụ 4 x 8 foot (1,2 x 2,4 m) được đặt trên các khối bê tông; không có lối vào cố định
        cho chúng và nhân viên khách sạn phải dùng thang để quan sát mặt nước. Chúng được bảo vệ bởi những cái nắp nặng
        khó thay thế từ bên trong. Nhân viên khách sạn tìm thấy thi thể nói rằng nắp đã mở vào thời điểm đó, loại bỏ vấn
        đề làm thế nào cô ấy có thể đóng nắp từ bên trong. Chó cảnh sát đã tìm kiếm Lam trong khách sạn, ngay cả trên
        mái nhà, ngay sau khi cô mất tích được ghi nhận, không tìm thấy bất kỳ dấu vết nào của cô.
    </b>
</p>

<p>
    <b>
        Những người ủng hộ giả thuyết rằng video thang máy cho thấy cô ấy đang chịu ảnh hưởng của ma túy bất hợp pháp
        không bị thuyết phục bởi sự vắng mặt của chúng trên màn hình độc tính, cho thấy rằng chúng có thể đã bị phân hủy
        trong khoảng thời gian cơ thể cô ấy bị phân hủy trong bể hoặc cô ấy có thể đã uống những loại thuốc hiếm mà màn
        hình thông thường sẽ không phát hiện được. Lượng thuốc theo toa trong hệ thống của cô ấy rất thấp và số lượng
        thuốc còn lại trong lọ thuốc theo toa của cô ấy cho thấy cô ấy đang dùng thuốc dưới liều hoặc gần đây đã ngừng
        dùng thuốc điều trị rối loạn lưỡng cực, điều này có thể dẫn đến một giai đoạn loạn thần
    </b>
</p>

<p>
    <b>
        Báo cáo khám nghiệm tử thi và kết luận của nó cũng bị nghi ngờ dựa trên thông tin không đầy đủ. Ví dụ, nó không
        cho biết kết quả của bộ dụng cụ hiếp dâm và bộ móng tay là gì hoặc thậm chí liệu chúng có được xử lý hay không.
        Nó cũng ghi lại vũng máu dưới da ở vùng hậu môn của Lam, mà một số nhà quan sát [ai?] cho rằng đó là dấu hiệu
        của lạm dụng tình dục; một nhà nghiên cứu bệnh học lưu ý rằng nó cũng có thể là kết quả của việc đầy hơi trong
        quá trình phân hủy của cơ thể và trực tràng của cô ấy cũng bị sa. Các nhà nghiên cứu bệnh học của nhân viên điều
        tra đã mâu thuẫn về kết luận của họ rằng cái chết của Lam là do tai nạn
    </b>
</p>

<p>
    <b>
        Kể từ khi cô qua đời, blog Tumblr của cô ấy đã được cập nhật, có lẽ thông qua tùy chọn Hàng đợi của Tumblr cho phép
        các bài đăng tự động xuất bản khi người dùng đi vắng. Điện thoại của cô ấy không được tìm thấy cùng với thi thể
        hoặc trong phòng khách sạn của cô ấy. Không biết liệu các bản cập nhật liên tục trên blog của cô ấy có được tạo
        điều kiện thuận lợi do hành vi trộm cắp điện thoại, tác phẩm của tin tặc hay thông qua Hàng đợi hay
        không vẫn chưa được biết; cũng không biết liệu các bản cập nhật có liên quan đến cái chết của cô ấy hay không
    </b>
</p>
</body>
</html>