<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }













    </style>
</head>
<body>
<p>
<table class="quotext" style="background: transparent; border: none;">
    <tbody>
    <tr>
        <td class="dark_text_1"
            style="font-size: 3.3em; font-family: 'Times New Roman',serif; font-weight: bold; padding: 4px 2px 2px; width: 0.5em; vertical-align: top;">
            “
        </td>
        <td><i>Đi. Ngủ. Đi</i>
        </td>
        <td class="dark_text_1"
            style="font-size: 3.3em; font-family: 'Times New Roman',serif; font-weight: bold; padding: 4px 2px 2px; width: 0.5em; vertical-align: bottom;">
            „
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td style="text-align: right;"><small>~ <b>Câu khẩu hiệu nổi tiếng của Jeff The Killer</b></small>
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>
<b>Jeff the Killer, tên khai sinh là Jeffery Woods, là nhân vật chính chính thức trở thành nhân vật phản diện chính của
    câu chuyện Creepypasta năm 2011 (và 2015 được làm lại) cùng tên "Jeff the Killer" và "Jeff the Killer 2015"</b>
</p>
<p>
    <b>Anh ta là một kẻ giết người hàng loạt ở tuổi vị thành niên và đã đăng ký Creepypasta. Anh ta bị biến dạng sau khi
        bị phóng hỏa khi chiến đấu với một nhóm bắt nạt và mất đi sự tỉnh táo sau khi chứng kiến ​​khuôn mặt "mới" và
        "xinh đẹp" của mình.</b>
</p>

<p>
<h1>Nguồn gốc</h1></p>
<p>
    <b>
        Jeff là một cậu bé 13 tuổi chuyển đến một khu phố mới cùng với anh trai của mình, Liu và cha mẹ của họ. Vào ngày
        đầu tiên đến trường, họ đã bị bắt nạt bởi 3 kẻ bắt nạt tên là Randy, Keith và Troy, những người mà Jeff đã đánh
        đập dã man sau khi chúng đe dọa họ bằng dao. Liu đã nhận lỗi và bị bắt, khiến Jeff rơi vào tình trạng trầm cảm.
        Những kẻ bắt nạt sau đó đã tấn công Jeff một lần nữa tại một bữa tiệc, và Jeff đã giết một trong số chúng, nhưng
        không lâu trước khi bị Keith bôi thuốc tẩy và châm lửa đốt. Trong cuộc chiến này, tâm trí của Jeff vĩnh viễn bị
        hỏng.
    </b>
</p>

<p>
    <b>
        Khi Jeff tỉnh dậy, anh ấy đang ở bệnh viện và đầu anh ấy được quấn băng. Khi những chiếc băng được tháo ra,
        người ta thấy rằng khuôn mặt của anh ấy đã trở nên biến dạng và nhợt nhạt một cách đáng sợ vì những vết bỏng,
        với đôi môi đỏ tươi và da sần sùi. Jeff nói rằng anh ấy thích khuôn mặt này của anh ấy và cười như điên, nhưng
        bác sĩ đã ngu ngốc nghĩ rằng sự điên rồ này chỉ là tác dụng phụ của thuốc giảm đau và để Jeff về nhà.
    </b>
</p>

<p>
    <b>
        Tối hôm đó, mẹ của Jeff thấy anh khắc trên khuôn mặt mình một nụ cười vĩnh viễn để anh không còn phải gắng sức
        để cười nữa, như cách anh nói, và đốt cháy mí mắt để anh luôn có thể nhìn thấy khuôn mặt của mình. Mẹ của Jeff
        đến gặp chồng để nói với anh ta rằng con trai họ đã hoàn toàn phát điên và cần phải bị giết, nhưng Jeff đã bắt
        được họ và đâm chết họ. Điều này đã đánh thức Liu (người vừa mới được thả), và Jeff nói với anh ta khi anh ta
        chuẩn bị đâm con dao vào người anh ta, "Đi ngủ đi".
    </b>
</p>

<p>
    <b>
        Jeff sau đó nổi cơn thịnh nộ giết người hàng loạt, giết những người không chịu ngủ vào ban đêm, và khi câu
        chuyện tiếp tục, Jeff đổi tên mình thành "Jeff the Killer".
    </b>
</p>

<p>
<h1>Ngoại hình</h1></p>
<p>
    <b>
        Jeff có làn da cực kỳ nhợt nhạt và mí mắt bị cháy, khiến anh ta trông càng ma quái hơn. Jeff sau này có đặc điểm
        nổi bật nhất của mình, nụ cười Glasgow mà anh đã khắc sâu vào khuôn mặt. Dáng người của anh ấy thường được mô tả
        là gầy, nhưng đồng thời có một số cơ săn chắc và đạt chiều cao khoảng 5'10" đến 6'0". Trong các mô tả khác nhau
        của người hâm mộ, anh ấy thường được miêu tả ở độ tuổi cuối tuổi thiếu niên hoặc đầu tuổi đôi mươi. Trang phục
        của anh ta thường bao gồm một chiếc quần dài màu đen với áo hoodie trắng, giống như được mô tả trong câu chuyện,
        đôi khi bị vấy máu tươi và cũ từ các nạn nhân của anh ta.
    </b>
</p>

<p>
    <b>
        <img src="https://www.dictionary.com/e/wp-content/uploads/2018/03/jeff-the-killer-2.jpg" class="center-fit"
             alt="Jeff the killer">
    </b>
</p>

<p>
<h1>Đời tư</h1></p>
<p>
    <b>
        Trước khi bị thiêu sống, anh ta là một thiếu niên trầm lặng và khá chống đối xã hội, không phải mọi người thực
        sự biết rõ về anh ta. Nhưng ngay sau khi vụ án xảy ra, anh ta trở nên tra tấn, hung hãn, khát máu và bạo lực,
        khiến anh ta trở thành một trong những kẻ giết người hàng loạt nguy hiểm nhất ở quê hương mình. Jeff được nhiều
        người biết đến với việc dụ các nạn nhân của mình vào giấc ngủ vĩnh hằng, bằng cách sử dụng một con dao làm bếp
        và giọng nói kỳ lạ nhưng nhẹ nhàng. Mặc dù anh ta thích giết nạn nhân của mình bằng dao, nhưng anh ta sẵn sàng
        sử dụng bất kỳ vũ khí nào khi bị đặt vào tình thế tuyệt vọng. Anh ta là một kẻ cực kỳ lén lút và ranh ma, hầu
        như có thể đột nhập vào nhà nạn nhân mà không bị bắt quả tang.
    </b>
</p>

<p>
<h1>Sức mạnh và khả năng</h1></p>

<p>
    <b>
        Mặc dù là một con người bình thường, Jeff dường như sử dụng những khả năng siêu nhiên đáng kinh ngạc chỉ áp dụng
        cho các thuộc tính con người của anh ta, chẳng hạn như khả năng tàng hình, tốc độ và sức mạnh siêu nhiên đáng
        kinh ngạc được sử dụng để tàn sát nạn nhân của anh ta một cách không thương tiếc. Jeff được chứng minh là có sức
        bền đáng kinh ngạc, có thể vượt qua cha mẹ và anh trai của mình chỉ bằng cách moi ruột họ. Một điều khiến anh ta
        mạnh mẽ hơn là lòng căm thù mãnh liệt và sự khát máu để giữ cho anh ta tiếp tục, cũng như có sức chịu đựng tuyệt
        vời. Trong những năm gần đây, Jeff được miêu tả là một người quyến rũ, lôi kéo mọi người tin tưởng anh ta, chỉ
        để phản bội họ sau đó.
    </b>
</p>
</body>
</html>