<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }

    </style>
</head>
<body>
<p>
<h1>Death of Elisa Lam</h1></p>
<p>
    <b>
        On February 19, 2013, the body of Chinese-Canadian tourist Elisa Lam (Chinese: 藍可兒; born Lam Ho-yi) was
        recovered from a large cistern atop the Stay on Main hotel in Downtown Los Angeles, where she had been a guest.
        She was last seen alive on January 31 and was reported missing by her parents on February 1. Her body was
        discovered by a hotel maintenance worker investigating complaints of flooding and low water pressure
    </b>
</p>

<p>
    <b>
        Interest in Lam's disappearance increased on February 13 when the Los Angeles Police Department released
        security camera footage of her behaving erratically in a hotel elevator on the day she was last seen alive. The
        video went viral. While an autopsy performed on February 21 was inconclusive in determining the manner of Lam's
        death, the Los Angeles County Coroner's office subsequently ruled the death an accident with bipolar disorder
        being a significant contributing factor
    </b>
</p>

<p>
    <b>
        Guests at the Stay on Main sued the hotel over the incident and Lam's parents filed a separate suit later that
        year; the latter was dismissed in 2015. Some of the early Internet interest noted what were considered to be
        unusual similarities between Lam's death and the 2002 horror film Dark Water. The case has since been referenced
        in international popular culture and been the subject of several creative works
    </b>
</p>

<p>
<h1>Background</h1></p>
<p>
    <b>
        Lam, the daughter of immigrants from Hong Kong, was a student at the University of British Columbia, although
        she was not registered at the beginning of 2013.
    </b>
</p>

<p align="center">
    <b>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Cecil_Hotel%2C_L.A.jpg/220px-Cecil_Hotel%2C_L.A.jpg"
             class="center-fit" alt="Cecil Hotel">
    </b>
</p>

<p>
    <b>
        In mid-2010, Lam began a blog named Ether Fields on Blogspot. Over the next two years, she posted pictures of
        models in fashionable clothing and accounts of her life, particularly her struggle with mental illness. In a
        January 2012 blog post, Lam lamented that a "relapse" at the start of the current school term had forced her to
        drop several classes, leaving her feeling "so utterly directionless and lost." She titled her post, "You're
        always haunted by the idea you're wasting your life" after a quotation from novelist Chuck Palahniuk. She used
        that quote as an epigraph for her blog. Lam worried that her transcript would look suspicious with so many
        withdrawals and that it would result in her being unable to continue her studies and attend graduate school.
    </b>
</p>

<p>
    <b>
        A little over two years after Lam had started blogging, she announced she would be abandoning her blog for
        another she had started on Tumblr, "Nouvelle-Nouveau". Its content mostly consisted of fashion photos, quotes
        and a few posts in Lam's own words. The same Palahniuk quotation was used as an epigraph.
    </b>
</p>

<p>
    <b>
        Lam had been diagnosed with bipolar disorder and depression. She had been prescribed several medications for her
        mental health issues: Wellbutrin, lamotrigine, quetiapine, Dexedrine Spansule, and venlafaxine. According to her
        family, who reportedly kept her mental illness private, Lam had no history of suicidal ideations or attempts,
        although one report claimed she had previously gone missing for a brief period. Lam had a history of not taking
        her bipolar medications and, as a result, on several occasions suffered hallucinations that would cause her to
        hide under her bed for refuge; she was hospitalized at least once for one of these episodes.
    </b>
</p>

<p>
    <b>
        For her trip to California, Lam traveled alone on Amtrak and intercity buses. She visited the San Diego Zoo and
        posted photos taken there on social media. On January 26, she arrived in Los Angeles. After two days, she
        checked into the Cecil Hotel, near Downtown's Skid Row. Lam was initially assigned a shared room on the hotel's
        fifth floor; however, her roommates complained about what the hotel's lawyer would later describe as "certain
        odd behavior" and Lam was moved to a room of her own after two days. According to Amy Price, the manager of the
        Cecil Hotel and Stay on Main at the time of Lam's disappearance, Lam was leaving notes for her roommates that
        said "go home" and "go away," and would lock the door to the room and require a password for entry. A few days
        before her disappearance, Lam attended a live taping of Conan in Burbank, but was escorted off the premises by
        security due to disruptive behavior.
    </b>
</p>

<p>
<h1>Disappearance</h1></p>
<p>
    <b>
        Lam contacted her parents in British Columbia daily while traveling up until the day she disappeared. January
        31, 2013, the day she was scheduled to check out of the Cecil and leave for Santa Cruz, her parents did not hear
        from her and called the Los Angeles Police Department (LAPD); her family flew to Los Angeles to help with the
        search
    </b>
</p>

<p>
    <b>
        Hotel staff who saw Lam that day said she was alone. Outside the hotel, Katie Orphan, manager of The Last
        Bookstore, was the only person who recalled seeing her that day. "She was outgoing, very lively, very friendly"
        while getting gifts to take home to her family, Orphan told CNN. "[She was] talking about what book she was
        getting and whether or not what she was getting would be too heavy for her to carry around as she traveled,"
        Orphan added.
    </b>
</p>

<p>
    <b>
        Police searched the hotel to the extent that they legally could. They searched Lam's room and had dogs go
        through the building, including the rooftop, but the dogs were unsuccessful in detecting her scent. "But we
        didn't search every room," Sgt. Rudy Lopez said later, "we could only do that if we had probable cause" to
        believe a crime had been committed. On February 6, a week after Lam had last been seen, the LAPD decided more
        help was needed. Flyers with her image were posted in the neighborhood and online. It brought the case to the
        public's attention through the media.
    </b>
</p>
<p>
<h1>Elevator video</h1></p>

<p>
    <b>
        On February 13, after another week with no sign of Lam, the LAPD released a video of the last known sighting of
        her taken in one of the Cecil's elevators by a video surveillance camera on January 31. In approximately two and
        a half minutes of footage, Lam, alone, makes unusual moves and gestures, leaving the elevator at one point while
        its doors remain open, even after she appears to have pressed every button. When the doors fail to close after
        she returns, she leaves; the doors close later.
    </b>
</p>
<p align="center">
    <b>
        <video width="320" height="240" autoplay muted>
            <source src="https://upload.wikimedia.org/wikipedia/en/5/5b/Elisa_Lam_elevator_video.webm" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </b>
</p>

<p>
    <b>
        The video drew worldwide interest in the case due to Lam's strange behavior, and has been extensively analyzed
        and discussed. It was reposted widely, including on the Chinese video-sharing site Youku, where it got 3 million
        views and 40,000 comments in its first 10 days. Many of the commentators found it unsettling to watch.
    </b>
</p>

<p>
    <b>
        Several theories emerged to explain her actions. One was that Lam was trying to get the elevator car to move in
        order to escape from someone who was pursuing her. Others suggested that she might be under the influence of
        ecstasy or some other party drug, but none was detected in her body. When her bipolar disorder became known, the
        theory that she was having a psychotic episode also emerged
    </b>
</p>

<p>
    <b>
        Other viewers argued that the video had been tampered with before being made public. Besides the obscuring of
        the timestamp, they claimed, parts had been slowed down and nearly a minute of footage had been removed. This
        could have been done to protect the identity of someone who otherwise would be in the video, either related or
        not to the disappearance.
    </b>
</p>

<p>
<h1>Discovery of body</h1></p>

<p>
    <b>
        During the search for Lam, guests at the hotel began complaining about low water pressure. Some later claimed
        their water was colored black and had an unusual taste. On the morning of February 19, Santiago Lopez, a hotel
        maintenance worker, found Lam's body in one of four 1,000-gallon (3,785 L) tanks located on the roof providing
        water to guest rooms, a kitchen, and a coffee shop. Through the open hatch he saw Lam lying face-up in the
        water. The tank was drained and cut open since its maintenance hatch was too small to accommodate equipment
        needed to remove Lam's body.
    </b>
</p>

<p align="center">
    <b>
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/130221090724-02-cecil-hotel-0221-horizontal-large-gallery.jpg"
             class="center-fit" alt="Elisa Lam Body">
    </b>
</p>

<p>
    <b>
        On February 21, the Los Angeles coroner's office issued a finding of accidental drowning, with bipolar disorder
        as a significant factor. The full coroner's report, released in June, stated that Lam's body had been found
        naked; clothing similar to what she was wearing in the elevator video was floating in the water, coated with a
        "sand-like particulate". Her watch and room key were also found with her
    </b>
</p>

<p>
    <b>
        Lam's body was moderately decomposed and bloated. It was mostly greenish, with some marbling evident on the
        abdomen and skin separation evident. There was no evidence of physical trauma, sexual assault, or suicide.
        Toxicology tests showed traces consistent with prescription medication found among her belongings, plus
        nonprescription drugs such as Sinutab and ibuprofen. A very small quantity of alcohol (about 0.02 g%) was
        present, but no other recreational drugs. Investigators and experts have however noted that the concentration of
        her prescription drugs in her system indicated that she was undermedicating or had stopped taking her
        medications recently
    </b>
</p>

<p>
<h1>Other issues</h1></p>

<p>
    <b>
        The investigation had determined how Lam died, but did not initially offer an explanation as to how she got into
        the tank in the first place. Doors and stairs that access the hotel's roof are locked, with only staff having
        the passcodes and keys, and any attempt to force them would supposedly have triggered an alarm. The hotel's fire
        escape could have allowed her to bypass those security measures; her scent trail was lost near a window that
        connected to it. A video posted to the Internet after Lam's death showed that the hotel's roof was easily
        accessible via the fire escape and that two of the lids of the water tanks were open.
    </b>
</p>

<p>
    <b>
        Apart from the question of how she got on the roof, others asked if she could have gotten into the tank by
        herself. All four tanks were 4-by-8-foot (1.2 by 2.4 m) cylinders propped up on concrete blocks; there was no
        fixed access to them and hotel workers had to use a ladder to look at the water. They were protected by heavy
        lids that would be difficult to replace from within. The hotel employee who found the body said that the lid was
        open at the time, removing the issue of how she could have closed the lid from inside. Police dogs that searched
        through the hotel for Lam, even on the roof, shortly after her disappearance was noted, did not find any trace
        of her.
    </b>
</p>

<p>
    <b>
        Proponents of the theory that the elevator video shows she was under the influence of illicit drugs are not
        dissuaded by their absence from the toxicology screen, suggesting that they might have broken down during the
        period of time her body decomposed in the tank or that she might have taken rare cocktails of such drugs that a
        normal screen would not detect. The very low level of her prescription drugs in her system, and the number of
        pills left in her prescription bottle, suggested she was undermedicating or had recently stopped taking her
        medication for bipolar disorder, which might have led to a psychotic episode
    </b>
</p>

<p>
    <b>
        The autopsy report and its conclusions were also questioned based on the incomplete information. For instance,
        it does not say what the results of the rape kit and fingernail kit were or even if they were processed. It also
        records subcutaneous pooling of blood in Lam's anal area, which some observers[who?] suggested was a sign of
        sexual abuse; one pathologist noted it could also have resulted from bloating in the course of the body's
        decomposition, and her rectum was also prolapsed. The coroner's pathologists were ambivalent about their
        conclusion that Lam's death was accidental
    </b>
</p>

<p>
    <b>
        Since her death, her Tumblr blog was updated, presumably through Tumblr's Queue option that allows posts to
        automatically publish themselves when the user is away. Her phone was not found either with her body or in her
        hotel room. Whether the continued updates to her blog were facilitated by the theft of her phone, the work of a
        hacker, or through the Queue is not known; nor is it known whether the updates are related to her death
    </b>
</p>
</body>
</html>