<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }

    </style>
</head>
<body>
<p>
<table class="quotext" style="background: transparent; border: none;">
    <tbody>
    <tr>
        <td class="dark_text_1"
            style="font-size: 3.3em; font-family: 'Times New Roman',serif; font-weight: bold; padding: 4px 2px 2px; width: 0.5em; vertical-align: top;">
            “
        </td>
        <td><i>Go. To. Sleep</i>
        </td>
        <td class="dark_text_1"
            style="font-size: 3.3em; font-family: 'Times New Roman',serif; font-weight: bold; padding: 4px 2px 2px; width: 0.5em; vertical-align: bottom;">
            „
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td style="text-align: right;"><small>~ <b>Jeff the Killer's famous catchphrase</b></small>
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>
<b>Jeff the Killer, born Jeffery Woods, is the titular main protagonist turned to the main antagonist of the 2011 (and
    2015 revamped) Creepypasta story of the same title "Jeff the Killer" and "Jeff the Killer 2015"</b>
</p>
<p>
    <b>He is an adolescent serial killer and registered Creepypasta. He was disfigured after being set on fire while
        fighting a gang of bullies and lost his sanity after witnessing his "new" and "beautiful" face.</b>
</p>

<p>
<h1>Origin</h1></p>
<p>
    <b>
        Jeff was a 13-year-old who moved to a new neighborhood with his brother, Liu, and their parents. On their first
        day of school, they were accosted by 3 bullies named Randy, Keith, & Troy, whom Jeff brutally beat up after they
        threatened them with knives. Liu took the blame for it and was arrested, sending Jeff into a deep depression.
        The bullies later attacked Jeff again at a party, and Jeff killed one of them, but not before getting covered in
        bleach and lit on fire by Keith. During this fight, Jeff's mind permanently snapped.
    </b>
</p>

<p>
    <b>
        When Jeff woke up, he was at the hospital and his head was wrapped in bandages. When the bandages were taken
        off, it was revealed that his face had become disfigured and ghastly pale from the burns, with bright red lips
        and a leathery texture. Jeff said that he liked his face this way and laughed hysterically, but the doctor
        foolishly thought that this insanity was merely a side effect of the painkillers and let Jeff go home.
    </b>
</p>

<p>
    <b>
        Later that night, Jeff's mother found him carving his face into a permanent smile so that he would no longer
        have to exert energy to smile, as he put it, and burning off his eyelids so he could always see his face. Jeff's
        mother went to her husband to tell him that their son had gone completely mad and needed to be killed, but Jeff
        caught them and stabbed them to death. This woke up Liu (who was recently released), with Jeff telling him as he
        was about to plunge the knife into his body, "Go to sleep".
    </b>
</p>

<p>
    <b>
        Jeff then went on a serial killing rampage, killing those who refused to sleep at night, and as the story
        continued, Jeff renamed himself "Jeff the Killer".
    </b>
</p>

<p>
<h1>Appearance</h1></p>
<p>
    <b>
        Jeff has extremely pale skin and burnt off eyelids, giving him an even more ghostly appearance. Jeff later got
        his most distinctive trait, the Glasgow smile that he had carved into his face. His build is commonly described
        as thin, but with some lean muscle tone at the same time, and reaching a height of around 5'10" to 6'0". In
        various fan depictions, he's typically portrayed in his late teens or early twenties. His clothing normally
        consists of a pair of black dress pants with a white hoodie, like described in the story, which is sometimes
        stained with fresh and old blood from his victims.
    </b>
</p>

<p>
    <b>
        <img src="https://www.dictionary.com/e/wp-content/uploads/2018/03/jeff-the-killer-2.jpg" class="center-fit"
             alt="Jeff the killer">
    </b>
</p>

<p>
<h1>Personality</h1></p>
<p>
    <b>
        Before being burnt alive, he was a quiet and fairly antisocial teenager, not that people actually knew him very
        well. But shortly after the incident, he became torturous, aggressive, bloodthirsty, and violent, making him one
        of the most dangerous serial killers in his hometown. Jeff is widely known for luring his victims to an eternal
        slumber, using a kitchen knife and eerie but soft tone of voice. Even though he prefers to murder his victims
        with knives, he is more than willing to use any weapon when placed in a desperate situation. He is an extremely
        stealthy and mischievous individual, able to break into victims' houses almost always without getting himself
        caught in the act.
    </b>
</p>

<p>
<h1>Powers and Abilities</h1></p>

<p>
    <b>
        Despite being an average human, Jeff appears to wield incredible supernatural abilities that only apply to his
        human attributes, such as incredible stealth, speed, and supernatural strength used to mercilessly slaughter his
        victims. Jeff is shown to be incredibly durable, being able to overcome his parents and brother simply by
        gutting them. One thing that makes him stronger is his intense hatred and bloodlust to keep him going, as well
        as having great stamina. In recent years, Jeff has been depicted as being a charming individual, manipulating
        people into trusting him, only to betray them later.
    </b>
</p>
</body>
</html>