<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }

    </style>
</head>
<body>
<p align="justify">
    <b>
        The Inunaki Village (Japanese: 犬鳴村, Hepburn: Inunaki-mura, 'Howling Village') is a Japanese urban legend
        dating back to the 1990s, about a supposed village in Fukuoka Prefecture, whose aggressive residents refuse to
        follow the rules of the Japanese constitution. The village is said to be located in the vicinity of Mount
        Inunaki, near the Inunaki mountain pass, however its exact location is unknown. A real Inunaki Village, not
        connected to the legend, did exist from 1691 to 1889
    </b>
</p>

<p>
<h1>Legend</h1></p>

<p align="justify">
    <b>
        According to the legend, Inunaki is a "small and easy to miss" village in a forest located in Fukuoka
        Prefecture, to the east of the Inunaki Mountain next to the most upstream tributary of Inunaki Gawa and the
        western edge of Wakamiya. The residents of the village refused to accept the Constitution of Japan. Near the
        entrance to the village, there's a handwritten sign reading "The Japanese constitution is not in effect past
        here." In order to find the village, one must take a small side road past Old Inunaki Tunnel. The original story
        takes place "sometime in the early 1970s" and follows a young couple, who were on their way to Hisayama when
        unexpectedly their car engine broke. They left their car and headed up the forest to seek help. They eventually
        entered a village that seemed abandoned. They were approached by a "crazy old man" who welcomed them to Inunaki
        before murdering them with a sickle
    </b>
</p>

<p align="justify">
    <b>
        There's another story related to the village, which tells of a telephone booth near the Inunaki bridge, which
        allegedly gets a call coming from Inunaki Village every night. The person that answers that call will be cursed
        and transported to the village. The victim of the curse will start to lose control of their body and mind before
        eventually dying
    </b>
</p>

<p>
<h1>The real Inunaki Village</h1></p>

<p align="justify">
    <b>
        According to historical records written during the Edo Period, the real Inunaki Village (33°41′25″N
        130°33′30″E), officially referred to as Inunakidani Village (犬鳴谷村), was established by a dispatch group of
        the Fukuoka Domain in 1691. Bunnai Shinozaki was appointed as the village headman. The village's sources of
        income were producing ceramic products and steel manufacturing. A coal mine was established here later[3] and a
        castle called Inunaki Gobekkan was founded in 1865 under the recommendation of Kato Shisho
    </b>
</p>
<p align="center">
    <b>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/MKU611-C2-17.jpg/427px-MKU611-C2-17.jpg"
             class="center-fit" alt="Inunaki Map">
    </b>
</p>

<p align="justify">
    <b>
        In April 1889, due to the introduction of the town and village system (町村制, Chosonsei), Inunakidani was
        integrated into the nearby Yoshikawa Village, which over the years merged with other areas, eventually creating
        the city of Miyawaka. The site of Inunakidani was submerged in 1986, due to the construction of the Inunaki Dam
        (completed in 1994). Residents of the village were relocated to Wakita
    </b>
</p>

<p>
<h1>Origin and spread</h1></p>

<p align="justify">
    <b>
        The area of the Old Inunaki Tunnel has been considered to be haunted due to a number of murder cases connected
        to this place. The tunnel's construction was completed in 1949. A new tunnel was constructed nearby in 1975. The
        unused old tunnel became dangerous due to a lack of maintenance. On 6 December 1988, five young men abducted and
        tortured a factory worker whose car they wanted to steal, burning him to death with gasoline inside the old
        tunnel. The perpetrators were arrested and sentenced to life imprisonment. The entrance to the old tunnel has
        been made inaccessible from both sides. In 2000, a dead body was found in a nearby dam.
    </b>
</p>

<p align="center">
    <b>
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d8/Inunaki_old_tunnel.jpg"
             class="center-fit" alt="Old Inunaki Tunnel">
    </b>
</p>

<p align="justify">
    <b>
        The first online mentions of the Inunaki Village urban legend date back to 1999, when Nippon TV received a
        letter from an anonymous person, which described the legend of the couple murdered in the village and urged the
        Nippon TV crew to visit the place. The anonymous letter was titled "The Village in Japan That Isn't Part of
        Japan"
    </b>
</p>

<p>
<h1>In popular culture</h1></p>

<p align="justify">
    <b>
        The legend of Inunaki Village inspired several pieces of media. A horror film Howling Village (犬鳴村) directed
        by Takashi Shimizu, based on the legend, was released in February 2019. The release of the film contributed to
        the popularity of the Old Inunaki Tunnel, leading to an increase in trespassing and vandalism in the area. In
        November of the same year, a horror game titled Inunaki Tunnel was released on Steam. The story also inspired a
        2016 anime television series The Lost Village (迷家-マヨイガ-) and The Story of the Mysterious Tunnel (トンネルの奇譚)
        manga by Junji Ito
    </b>
</p>
</body>
</html>