<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }









    </style>
</head>
<body>
<p align="justify">
    <b>
        Làng Inunaki (tiếng Nhật: 犬鳴村, Hepburn: Inunaki-mura, 'Làng hú') là một truyền thuyết đô thị của Nhật Bản có
        từ những năm 1990, kể về một ngôi làng được cho là ở tỉnh Fukuoka, nơi cư dân hiếu chiến từ chối tuân theo các
        quy tắc của người Nhật. Tổ chức. Ngôi làng được cho là nằm ở vùng lân cận núi Inunaki, gần đèo Inunaki, tuy
        nhiên vị trí chính xác của nó vẫn chưa được biết. Làng Inunaki có thật, không liên quan đến truyền thuyết, đã
        tồn tại từ năm 1691 đến 1889
    </b>
</p>

<p>
<h1>Truyền thuyết</h1></p>

<p align="justify">
    <b>
        Theo truyền thuyết, Inunaki là một ngôi làng "nhỏ và dễ bỏ lỡ" trong một khu rừng nằm ở tỉnh Fukuoka, phía đông
        của núi Inunaki, cạnh nhánh thượng nguồn nhất của Inunaki Gawa và rìa phía tây của Wakamiya. Người dân trong
        làng từ chối chấp nhận Hiến pháp Nhật Bản. Gần lối vào làng, có một tấm biển viết tay "Hiến pháp Nhật Bản không
        còn hiệu lực ở đây." Để tìm thấy ngôi làng, người ta phải đi một con đường nhỏ qua Đường hầm Inunaki Cũ. Câu
        chuyện gốc diễn ra "vào khoảng đầu những năm 1970" và theo chân một cặp vợ chồng trẻ đang trên đường đến
        Hisayama thì bất ngờ động cơ ô tô của họ bị hỏng. Họ rời khỏi xe và đi vào rừng để tìm kiếm sự giúp đỡ. Cuối
        cùng họ vào một ngôi làng dường như bị bỏ hoang. Họ được tiếp cận bởi một "ông già điên", người đã chào đón họ
        đến Inunaki trước khi giết họ bằng liềm
    </b>
</p>

<p align="justify">
    <b>
        Có một câu chuyện khác liên quan đến ngôi làng, kể về một bốt điện thoại gần cầu Inunaki, nơi được cho là nhận
        được một cuộc gọi đến từ Làng Inunaki mỗi đêm. Người trả lời cuộc gọi đó sẽ bị nguyền rủa và chuyển đến làng.
        Nạn nhân của lời nguyền sẽ bắt đầu mất kiểm soát về cơ thể và tâm trí trước khi chết.
    </b>
</p>

<p>
<h1>Ngôi làng Inunaki thực tế</h1></p>

<p align="justify">
    <b>
        Theo các ghi chép lịch sử được viết trong Thời kỳ Edo, Làng Inunaki thực tế (33°41′25″B 130°33′30″E), được gọi
        chính thức là Làng Inunakidani (犬鳴谷村), được thành lập bởi một nhóm điều phối của Miền Fukuoka năm 1691.
        Bunnai Shinozaki được bổ nhiệm làm trưởng làng. Nguồn thu nhập của làng là sản xuất các sản phẩm gốm sứ và sản
        xuất thép. Một mỏ than được thành lập ở đây sau đó và một lâu đài tên là Inunaki Gobekkan được thành lập vào
        năm 1865 theo lời giới thiệu của Kato Shisho
    </b>
</p>
<p align="center">
    <b>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/MKU611-C2-17.jpg/427px-MKU611-C2-17.jpg"
             class="center-fit" alt="Inunaki Map">
    </b>
</p>

<p align="justify">
    <b>
        Vào tháng 4 năm 1889, do sự ra đời của hệ thống thị trấn và làng (町村制, Chosonsei), Inunakidani được sáp nhập
        vào Làng Yoshikawa gần đó, làng này qua nhiều năm đã hợp nhất với các khu vực khác, cuối cùng tạo thành thành
        phố Miyawaka. Địa điểm Inunakidani bị nhấn chìm vào năm 1986 do việc xây dựng đập Inunaki (hoàn thành vào năm
        1994). Cư dân của ngôi làng đã được chuyển đến Wakita
    </b>
</p>

<p>
<h1>Nguồn gốc và lan truyền</h1></p>

<p align="justify">
    <b>
        Khu vực Đường hầm Inunaki Cũ đã được coi là bị ma ám do một số vụ án giết người liên quan đến nơi này. Việc xây
        dựng đường hầm được hoàn thành vào năm 1949. Một đường hầm mới được xây dựng gần đó vào năm 1975. Đường hầm cũ
        không được sử dụng trở nên nguy hiểm do không được bảo trì. Vào ngày 6 tháng 12 năm 1988, năm thanh niên đã bắt
        cóc và tra tấn một công nhân nhà máy có chiếc xe mà họ muốn lấy trộm, thiêu chết anh ta bằng xăng bên trong
        đường hầm cũ. Các thủ phạm đã bị bắt và bị kết án tù chung thân. Lối vào đường hầm cũ không thể tiếp cận từ cả
        hai phía. Năm 2000, một xác chết được tìm thấy trong một con đập gần đó.
    </b>
</p>

<p align="center">
    <b>
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d8/Inunaki_old_tunnel.jpg"
             class="center-fit" alt="Old Inunaki Tunnel">
    </b>
</p>

<p align="justify">
    <b>
        Những đề cập trực tuyến đầu tiên về truyền thuyết đô thị của Làng Inunaki bắt đầu từ năm 1999, khi Nippon TV
        nhận được một lá thư từ một người ẩn danh, trong đó mô tả truyền thuyết về một cặp vợ chồng bị sát hại trong
        làng và thúc giục đoàn làm phim của Nippon TV đến thăm nơi này. Bức thư nặc danh có tiêu đề "Ngôi làng ở Nhật
        Bản không phải là một phần của Nhật Bản"
    </b>
</p>

<p>
<h1>Trong văn hóa thường nhật</h1></p>

<p align="justify">
    <b>
        Truyền thuyết về Làng Inunaki đã truyền cảm hứng cho một số phương tiện truyền thông. Một bộ phim kinh dị
        Howling Village (犬鳴村) do Takashi Shimizu đạo diễn, dựa trên truyền thuyết, đã được phát hành vào tháng 2 năm
        2019. Việc phát hành bộ phim đã góp phần vào sự nổi tiếng của Đường hầm Inunaki Cũ, dẫn đến sự gia tăng xâm phạm
        và phá hoại trong khu vực. diện tích. Vào tháng 11 cùng năm, một trò chơi kinh dị có tên Inunaki Tunnel đã được
        phát hành trên Steam. Câu chuyện cũng truyền cảm hứng cho một bộ phim truyền hình anime năm 2016 The Lost
        Village (迷家-マヨイガ-) và The Story of the Mysterious Tunnel (トンネルの奇譚) manga của Junji Ito
    </b>
</p>
</body>
</html>